<div class="form-wrapper">
    <h2 class="form-header">Sign Up</h2>
    <form>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" placeholder="Enter first name" id="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter last name" id="lastName">
        </div>
        <div class="mb-3">
            <label for="signupEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email" id="signupEmail">
        </div>
        <div class="mb-3">
            <label for="signUpPassword" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="signUpPassword">
        </div>
        <button type="submit" class="btn btn-primary">Sign up!</button>
    </form>
</div>